<div class="container-fluid pt-5" style="background-color: #333333;">
    <h3 class="text-center mb-5 text-white">Busque por municipio</h3>
    <div class="input-group pb-5 w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Pesquisar" [(ngModel)]="pesquisar">
    </div>
</div>

<div class="container mt-">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Revendedora</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Valor Compra</th>
                        <th scope="col">Valor Venda</th>
                        <th scope="col">Bandeira</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let m of model  | paginate: { itemsPerPage: 10, currentPage: p } |filter:pesquisar">
                        <th scope="row">{{m.id}}</th>
                        <td>{{m.municipio}}</td>
                        <td>{{m.revendedora}}</td>
                        <td>{{m.produto}}</td>
                        <td>{{m.valorCompra | currency}}</td>
                        <td>{{m.valorVenda | currency}}</td>
                        <td>{{m.bandeira}}</td>
                        <td>
                            <button class="btn btn-dark" (click)="mediaPrecoPorMunicipio(m.municipio)" data-toggle="modal"
                                data-target="#exampleModal">
                                <i class="fas fa-eye"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="text-center mt-3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Media de Preço do Municipio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>A media de preço deste municipio é {{municipio | currency}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>