<div class="container-fluid pt-5" style="background-color: #333333;">
    <h3 class="text-center mb-5 text-white">Busque por Municipio</h3>
    <div class="input-group pb-5 w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Pesquisar" [(ngModel)]="pesquisar">
    </div>
</div>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Municipio</th>
                        <th scope="col">Valor medio de compra</th>
                        <th scope="col">Valor medio de venda</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let m of model  | paginate: { itemsPerPage: 10, currentPage: p } |filter:pesquisar">
                        <td>{{m.atributo}}</td>
                        <td>{{m.mediaValorCompra | currency}}</td>
                        <td>{{m.mediaValorVenda | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="text-center mt-3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
