<!-- Aqui vai a navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E7270B;">
    <a class="navbar-brand" href="#">Postinho</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " routerLink="municipio" routerLinkActive="active">Municipio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="distribuidora" routerLinkActive="active">Distribuidora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="compra-venda" routerLinkActive="active">Compra e Venda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="historico" routerLinkActive="active">Historico</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Aqui vai o conteudo das paginas -->
<router-outlet></router-outlet>