<div class="container-fluid pt-5" style="background-color: #333333;">
    <h3 class="text-center mb-5 text-white">Historico</h3>
    <div class="input-group pb-5 w-50 mx-auto">
        <input type="text" class="form-control" placeholder="Pesquisar" [(ngModel)]="pesquisar">
    </div>
</div>

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Tipo do combustivel</th>
                        <th scope="col">Data</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center"
                        *ngFor="let m of model  | paginate: { itemsPerPage: 10, currentPage: p } |filter:pesquisar">
                        <th scope="row">{{m.id}}</th>
                        <td>{{m.combustivel}}</td>
                        <td>{{m.data}}</td>
                        <td>{{m.preco | currency}}</td>
                        <td>
                            <button class="btn btn-dark" (click)="preencherForm(m, true)" data-toggle="modal"
                                data-target="#exampleModal">
                                <i class="fas fa-eye"></i></button>
                            <button class="btn btn-success mx-2" (click)="preencherForm(m)" data-toggle="modal"
                                data-target="#exampleModal">
                                <i class="fas fa-edit"></i></button>
                            <button class="btn btn-danger" (click)="deletar(m.id)">
                                <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <div class="text-left mt-3">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i
                                class="fas fa-plus mr-2"></i>Novo historico</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="text-right mt-3">
                        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <fieldset [disabled]="visualizar">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label>Tipo do combustivel</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <input formControlName="combustivel" type="text" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label
                                    for="">Data</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input formControlName="data" type="date" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <label
                                    for="">Preço</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input formControlName="preco" type="number" class="form-control"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button *ngIf="!visualizar" type="button" class="btn btn-success" data-dismiss="modal" (click)="submit()">Salvar</button>
            </div>
        </div>
    </div>
</div>